{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <script type="text/javascript" src="{% static 'js/run.js' %}"></script>
{% endblock %}

{% block content %} 
    <p class="label">You are studying: {{ subject }}</p>

    <iframe allow="camera; microphone; fullscreen; display-capture" src="https://meet.jit.si/{{ room_code }}" class="video"></iframe>
    <div class="board-bar" id="board-bar">
        <p>Whiteboard</p>
        <img src="{% static 'images/up.png' %}" id="arrow">
    </div>
    <iframe src="" class="video invisible" id="whiteboard"></iframe>
{% endblock %}
