.loading {
    font-size: 16px;
    font-family: Segoe UI;
    text-align: center;
    margin-top: 100px;
}

#check {
    visibility: hidden;
}

.video {
    width: 100%;
    max-width: 800px;
    height: 500px;
    border: 0px;
    display: block;
    margin: 0px auto;
}

.board-bar {
    height: 30px;
    width: 100%;
    max-width: 800px;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.board-bar img {
    height: 50%;
}

.board-bar * {
    margin: 10px;
}

.invisible {
    height: 0px;
}
