* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: Segoe UI;
    font-size: 16px;
}

.nav {
    background-color: orange;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px 1px #bbb;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: Microsoft Jhenghei UI;
}

.logo {
    height: 65px;
}

.spacer {
    width: 100px;
}

.content {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 50px;
    margin: 0px auto;
    flex-grow: 1;
}

.label {
    margin: 50px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.grid {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    background-color: #eee;
    color: black;
    transition: 0.3s;
}

.card * {
    margin: 0px 10px;
}

.card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.img {
    margin-top: 10px;
    width: calc(100% - 20px);
}

.name {
    font-size: 20px;
}

.related {
    font-size: 12px;
    margin: 5px 10px 20px;
}

@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
