{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Our PTC Project</title>

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="nav">
            <a href="{% url 'home' %}">
                <h1>Our PTC Project</h1>
                <p>Get studying fast</p>
            </a>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
