<!DOCTYPE html>
<html>
    <head>
        <title>Our PTC Project</title>

        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="chat.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="run.js"></script>
    </head>
    <body>
        <div class="nav">
            <a href="#">
                <h1>Our PTC Project</h1>
                <p>Get studying fast</p>
            </a>
        </div>

        <div class="content">
            <p class="label">You are studying: Mathematics</p>

            <iframe allow="camera; microphone; fullscreen; display-capture" src="https://meet.jit.si/ptc-test-meeting" class="video"></iframe>
            <div class="board-bar" id="board-bar">
                <p>Whiteboard</p>
                <img src="../images/up.png" id="arrow">
            </div>
            <iframe src="" class="video invisible" id="whiteboard"></iframe>
        </div>
    </body>
</html>
